<% provide(:title, @user.name) %>
<div class="row pt-4">
    <div class="col-lg-3">
    <div class="text-center">
        <%= gravatar_for @user, size:"250" %>
    </div>
    <div class="card">
        <div class="card-header profile-verified">
            Verified
        </div>
        <div class="card-body">
            <ul class="sidebar-list">
                <li>Email address</li>
                <li>Phone number</li>
            </ul>
        </div>
    </div>
    </div>
    <div class="col-lg-9">
        <h2><%= @user.name %></h2>
    </div>
</div>