<ul class="sidebar-list">
    <section class="list-group-item list-group-item-action properties">
        <%= link_to "Your Listings", properties_path, class: "nav-link" %>
    </section>
    <section class="list-group-item list-group-item-action reservations">
        <%= link_to "Your Reservations", reservations_path, class: "nav-link" %>
    </section>
    <section class="list-group-item list-group-item-action trips">
        <%= link_to "Your Trips", trips_path, class: "nav-link" %>
    </section>
</ul>

<script class="text/javascript">
$(document).ready(() => {
    $('.list-group-item').each(() => {
        $(this).removeClass('active');
    });

    let pathName = window.location.pathname;
    pathName = pathName.replace('/', '');
    $(`.${pathName}`).addClass('active');
})
</script>