<div class="row justify-content-center">
    <div class="col-md-10 col-md-offset-10 mt-4">
        <div class="card text-white mb-3" style="max-width: 60rem;">
            <div class="card-header profile-verified">Create your beautiful place</div>
                <div class="card-body">
                    <%= render 'form' %>
                </div> <!-- card body -->
            </div> <!-- card header -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->
