<div class="row pt-4">
    <div class="col-lg-3 ">
        <%= render 'sidebar' %>
    </div>
    <div class="col-lg-9">
        <div class="card mb-5">
            <div class="card-header text-center text-white bg-dark">Pricing</div>
                <div class="card-body">
                    <div class="container">
                        <%= render 'pricing' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>