@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";

/* Search Autocomplete */
.ui-autocomplete {
  z-index: 2000 !important;
}

body {
  padding-top: 5rem;
}

/* Home */
.mt-5, .my-5 {
  margin-top: 4rem !important;
}

.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
  width: 100%;
}

#right {
  position: fixed;
  top: 4.5rem;
  right: 0;
  width: 450px;
  height: 100%;
}

#left {
  padding: 10px 400px 10px 20px;
  overflow: scroll;
  height: 100%;
}

#main {
  height: 100%;
  overflow: hidden;
}

/* Google Map */ 
#map {
  width: 100%;
  height: 400px;
}

#big-map {
  width: 100%;
  height: 100vh;
}

/* Profile Picture */
.full-image {
  width: 100%;
}

.rounded-circle {
  img {
    border-radius: 50%;
    width: 50%;
  }
}

.smaller-circle {
  img {
    border-radius: 20%;
    width: 20%;
  }
}

.preview {
  padding:0;
}

/* Nav bar*/
.navbar {
  height: 4.5rem;
}

.nav-link {
  display: block;
  padding: 0.5rem;
}

/* Banner */
.app-brand {
  color: #FF5A5F;
  font-size: 50px;
}

/* Profile page */
.profile-verified {
  background-color: #00A699;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

h2,
.h2 {
  font-size: 2rem;
}

/* Listing */
.sidebar-list {
 .list-group-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: 0;

    a {
      color: black;
    }
    list-style: none;
    padding-left: 0;

    &.active {
      background-color: #5bc0de !important;
    }
  }
}

.sidebar-list {
  list-style: none;
  padding-left: 0;
}

/* Displaying picture from AWS */
.preview {
    padding: 0;

    img {
        width: 100%;
    }
}

/* File upload button */
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 12px 70px;

  cursor: pointer;
}
input[type="file"] {
  display: none;
}

/* Listing Page */

.text-line-through {
  text-decoration: line-through;
}

.amenities {
  li {
    list-style-type: none;
  }
}

// Selected Start Date
.selectedDate a {
  background-color: blue !important;
  background-image :none !important;
  color: #ffffff !important;
}