<footer class="footer">
    <div class="container">
        <hr>
        <span class="text-muted">
            Airbnb Clone by
            <%= link_to "Shania Jubelag", "https://www.linkedin.com/in/shania-jubelag-947249164/" %>
        </span>
    </div>
</footer>